@import "tailwindcss";
/* @import "tw-animate-css"; */
/* @import "shadcn/tailwind.css"; */ 

@custom-variant dark (&:is(.dark *)); 

html {
  scrollbar-width: none; 
 
} 

body::-webkit-scrollbar {
  display: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue:#4DA6FF;
  --color-yellow:#FFD166;
  --color-red:#FF6B6B;
  --color-purple:#C084FC;
  --color-heading: var(--foreground);
  --color-body-text: var(--body-text);

  --color-primary: var(--primary-color);
  --color-primary-bg: var(--primary-bg);
  --color-second:var(--second-color);
  
  --color-muted-background: var(--muted-background);
  /* --font-sans: var(--font-sans);  
  --font-bebas : var(--font-bebas-neue);
  --font-sora: var(--font-sora); */
  /* --font-mono: var(--font-jetbrains-mono); 
  --font-heading: var(--font-sans);
  --font-neue-haas: var(--font-neue-haas-display); */
  --font-space: var(--font-sora-grotesk);
  --font-anton: var(--font-anton);
  /* --font-rodin: var(--font-rodin); */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  
  --breakpoint-xl-custom: 1000px;
}  
    
:root {  
  --background: #1A1B1F;
  --foreground: #FCFCFC; 

  --body-text: #A8A3B8; 

  --primary-color: #39FF88;  
  --primary-bg: #10261A;

  --second-color: #22C55E;

  --muted-background: #16181D;
  --border-color: #2A2D35;

  --card-background: #202329;
  --card-hover: #252A31; 
  --card: oklch(1 0 0); 
  --card-foreground: oklch(0.145 0 0); 
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
} 

.light {
  --background: #fbfbfb;
  --foreground: #0f0f0f;

  --body-text: #5f6368;

  --primary-color: #5fbf4f; /* brighter green */
  --primary-bg: #e8f4e4;

  --muted-background: #e5e7eb;
} 

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} 

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }

  
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border: 3px solid var(--background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d2e2e;
}

.hex-draw {
  stroke-dasharray: 300;
  stroke-dashoffset: 300; 
  animation: drawHex 1.8s steps(90) forwards;
}

.logo-letter {
  opacity: 0;
  animation: revealLetter 0.4s ease forwards;
  animation-delay: 1.6s;
}

@keyframes drawHex {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes revealLetter {
  to {
    opacity: 1;
  }
}
